.carousel-bg{
    background-color: #FCEAE8;
    border-radius: 15px;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;

}
.buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.price{
    color: #FF136F;
}

/* catagoris */
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}
.cat1{
    background-color: #FF136F;
}
.cat2{
    background-color: aquamarine;
}
.cat3{
    background-color: blue;
}
.catagoris h1{
    color: white;
}
.catagoris img{
    width: 100px;
}